extends layout

block content
	h1 dashboard

	if user
		div.row
			div.col-lg-3.col-md-3.col-sm-12.col-xs-12
				div.well.text-center(style='background-color: #337ab7; color: white;')
					p Amount reserved 
						h3 N#{input}
			div.col-lg-3.col-md-3.col-sm-12.col-xs-12
				div.well.text-center(style='background-color: #449d44; color: white')
					p Amount received 
						h3 N#{received}
			div.col-lg-3.col-md-3.col-sm-12.col-xs-12
				div.well.text-center(style='background-color: #5bc0de; color: white')
					p Amount remaining
						h3 N#{remainder}