doctype html
html
	head 
		title Welcome
		link(rel='stylesheet' href='/bowe_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='/css/style.css')

		style.
			body {background-image: url("../img/land.jpg");
					background-repeat: no-repeat;
					background-attachment: fixed;
					width: auto;
					height: auto;
					background-position: center;
					}
			.well-body{
				opacity: 1
			}
			.btn{
				height: 50px;
				width: 90px;
				padding: 10px;
			}
			#row > .col-lg-offset-4{
				margin-top: 150px;
				margin-left:470px;
				color: white;

			}



	body

		.container
			.row#row
				.col-lg-offset-4.col-md-12.center
					input.btn.btn-default(type='button' value='register' id='register')
					input.btn.btn-default(type='button' 
					style='margin-left:7px' value='Login' id='login')
							
		
		script(src='/bowe_components/jquery/dist/jquery.js')
		script(src='/bowe_components/bootstrap/dist/js/bootstrap.js')
		script(src='/js/main.js')
		
		script.
			$(document).ready(function(){
				$('#login').on('click', function(e){
					window.location.href='/users/login';
				});
				$('#register').on('click', function(e){
					window.location.href='/users/register';
				});
			});
