doctype html
html
	head
		title Swaaypay
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='/css/style.css')
		script(src='/bower_components/jquery/dist/jquery.js')
		style.
			html, body{ position: relative}
			.navbar{
				position: fixed;
				width: 100%;
				z-index: 1;
				top: 0px;
			}
			.navbar:after{
				content: '';
				clear: both;
				display: block;

			}
			
			.container{
				margin-top: 70px;
				margin-bottom: 50px;
				position: relative;
				display: block;
				min-height: 80vh;
			}


			.container:before{
				content: '';
				display: block;
				clear: both;
			}
			footer{
				width: 100vw;
				height: 70px;

			}
			
			button{
				border-radius: 20px !important;
			}
			
		

	body
		nav.navbar.navbar-inverse.fixed
			.container-fluid
				.navbar-header
					button.navbar-toggle(type='button' data-toggle="collapse" data-target="#example-navbar-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') Swaaypay
				#example-navbar-collapse.collapse.navbar-collapse.collapse
					ul.nav.navbar-nav
							if user
								li.dropdown
									a(href="#" data-toggle="dropdown" class='dropdown-toggle') Navigation
										b.caret
									ul.dropdown-menu
										li
											a(href="/users/dashboard")
												span.glyphicon.glyphicon-home  Dashboard
										li
											a(href="/users/reservation")
												span.glyphicon.glyphicon-list  Reservation List
										li
											a(href="/users/profile")
												span.glyphicon.glyphicon-edit  Profile
										li
											a(href="/users/payment")
												span.glyphicon.glyphicon-gbp  Outstanding Payment
										li
											a(href="/users/transactions")
												span.glyphicon.glyphicon-transfer  Transactions
										li
											a(href="/users/inbox")
												span.glyphicon.glyphicon-transfer  Inbox
										li
											a(href="/users/support")
												span.glyphicon.glyphicon-envelope  Support
										//- li
										//- 	a(href="/users/testimony")
										//- 		span.glyphicon.glyphicon-share  Testimony
					ul.nav.navbar-nav.navbar-right
						if user
							li 
								a(href='/users/profile')
									span.glyphicon.glyphicon-user #{user.username}
							li 
								a(href='/users/logout')
									span.glyphicon.glyphicon-log-out Logout
		.container#main
			!= messages('message', locals)
			if errors
				each error,  i in errors
					div(class='alert alert-danger') #{error.msg}

			block content
			br
		hr

	footer
		p copyright &copy; 2017
		i(style='float: right') designed by encrybit01@gmail.com
		script(src='/bower_components/bootstrap/dist/js/bootstrap.js')


