doctype html
html
	head
		title login
		link(rel='stylesheet' href='/bowe_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='/css/style.css')

		style.
			body{
			background-color: #05AD9B;
			}
			.row{
				margin-top: 70px;
				padding: 5px;
			}
			.btn{
				color: #05AD9B;
			}
			label{
				color: white;
			}
			#reg{
				color:white;
				margin-left: 50px
			}
	body
		.container
			!= messages('message', locals)
			if errors
				each error,  i in errors
					div(class='alert alert-danger')= error.msg

			.row
				.col-lg-4
				.col-lg-4
					h1.text-center(style='color:white') Login.
					p.alert-success #{info}

					form(method="POST", action="/users/login")
						#form-group
							label Username
							input.form-control(name='username', type='text' required placeholder='Enter username..')
						#form-group
							label Password
							input.form-control(name='password', type='password' required placeholder='Enter Password..')
							br
						input.btn.btn-default(type='submit', value='Login')
						a(href='/users/register' id='reg') Don't have an account? Register

		script(src='/bowe_components/jquery/dist/jquery.js')
		script(src='/bowe_components/bootstrap/dist/js/bootstrap.js')
		script(src='/js/main.js')

