extends layout

block content
	style.
		.btn{
			border-radius: 0px;
		}
		.form-control{
			border-radius: 0px;
		}
		span{
			color: red;
		}
		body{
			background: #f5f5f5
		}
		.well{
			background: #fff;
		}


	h4.text-center Password Reset Page
	
	div.row
		.col-md-5.col-md-offset-3
			.well
				form(method="POST", id='form' action="/users/reset-passwd")
					#form-group
						label Username
						input.form-control(name='username', id='username', type='text', required='required', placeholder='Enter username..' minlength='6' maxlength='15')
						span(id='username_error_message')
						br
					#form-group
						label New Password
						input.form-control(name='password', id='password', type='password', required='required', placeholder='Enter new Password..' minlength='6' maxlength='15')
						span(id='password_error_message')
						br
					#form-group
						label Confirm New Password
						input.form-control(name='password2', id='password2', type='password', required='required', placeholder='Confirm new Password..' minlength='6' maxlength='15')
						span(id='password2_error_message')
						br
					#form-group
						label Enter Secret Key
						input.form-control(name='secret', type='text', id='secret', required='required', placeholder='Enter secret word...' minlength='6' maxlength='15')
						span(id='secret_error_message')
						br
					input.btn.btn-primary.btn-block(type='submit', value='Send', id=submit)
					//- input(type='hidden' name='_csrf' value=csrfToken)
					a(href='/users/login' id='log') remember password? Login

	

	script.
		$(document).ready(function(){
			//hide all error span
			$('#username_error_message').hide();
			$('#password_error_message').hide();
			$('#password2_error_message').hide();
			$('#secret_error_message').hide();

			var err_username = false;
			var err_password = false;
			var err_password2 = false;
			var err_secret = false;

			$('#username').focusout(function(){
				checkUnameLength();
				
			});
			
			function checkUnameLength(){
				var username = $('#username').val();
				//check the length of the string
				if(username.length < 6 || username.length > 15){
					$('#username_error_message').html('Username can only be between 6 to 15 characters long');
					$('#username_error_message').show();
					err_username = true;
				}else{
					$('#username_error_message').hide();
					checkUnameFirstLetter();
				}
			}
			
			function checkUnameFirstLetter(){
				var username = $('#username').val();
				//check if first letter is a number
				var pattern = new RegExp('\\d', 'gi');
				if(username.match(pattern)){
					$('#username_error_message').html('Username can only start with a letter');
					$('#username_error_message').show();
					err_username = true;
				}else{
					checkWeirdXters();
				}
			}

			function checkWeirdXters(){
				var username = $('#username').val();
				var pattern = new RegExp('\\W', 'gi');
				//check the length of the string
				if(username.match(pattern)){
					$('#username_error_message').html('Username can only contain alphanumericals (A-Z and 0-9)');
					$('#username_error_message').show();
					err_username = true;
				}else{
					$('#username_error_message').hide();
				}
			}
			


			$('#password').focusout(function(){
				checkPassLength();
			});

			function checkPassLength(){
				var password = $('#password').val();
				//check the length of the string
				if(password.length < 6 || password.length > 15){
					$('#password_error_message').html('Password can only be between 6 to 15 characters long');
					$('#password_error_message').show();
					err_password = true;
				}else{
					$('#password_error_message').hide();
					checkScriptTags();
				}
			}

			function checkScriptTags(){
				var password = $('#password').val();
				var pattern = new RegExp('\\W', 'gi');
				//check the length of the string
				if(password.match(pattern)){
					$('#password_error_message').html('password can only contain (a-z,A-Z,0-9)');
					$('#password_error_message').show();
					err_password = true;
				}else{
					$('#password_error_message').hide();
				}
			}
			
			
			$('#password2').focusout(function(){
				checkMatch();
			});


			function checkMatch(){
				//check the length of the string

				var password = $('#password').val();
				var password2 = $('#password2').val();
				if( password2 != password){
					$('#password2_error_message').html('Passwords do not match');
					$('#password2_error_message').show();
					err_password2 = true;
				}else{
					$('#password2_error_message').hide();
				}
			}


			$('#secret').focusout(function(){
				checkSecretLength();
			});

			function checkSecretLength(){
				//check the length of the string

				var secret = $('#secret').val();
				if(secret.length < 6 || secret.length > 15){
					$('#secret_error_message').html('Secret pass can only be between 6 to 15 characters long');
					$('#secret_error_message').show();
					err_secret = true;
				}else{
					$('#secret_error_message').hide();
					checkSecretWeirdXters();
				}
			}


			
			function checkSecretWeirdXters(){
				var secret = $('#secret').val();
				var pattern = new RegExp('\\W', 'gi');
				//check the length of the string
				if(secret.match(pattern)){
					$('#secret_error_message').html('Secret pass can only contain alphanumericals (a-z,A-Z,0-9)');
					$('#secret_error_message').show();
					err_secret = true;
				}else{
					$('#secret_error_message').hide();
				}
			}

			$('#form').submit(function(){
				 err_username = false;
				 err_password = false;
				 err_password2 = false;
				 err_secret = false;

				checkUnameLength();
				checkPassLength();
				checkMatch();
				checkSecretLength();

				if(err_username == false && err_password == false && err_password2 == false && err_secret == false){
					return true;
				}else{
					return false;
				}


			})
		});